{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding-bottom:3rem;padding-top:2rem;color:white;">
        <h1>Log In</h1>
        <p class="lead">Login to your account to start peeping!</p>
    </div>

    <div class="container-sm" style="padding-bottom:3rem;padding-top:2rem;color:white;">
        <form action="/login" method="post">
            <div class="mb-3 mx-auto" id="username-input" style="max-width:30%;">
                <label for="username" class="form-label">Username</label>
                {% if errors %}
                    {% for error in errors['username'] %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <input class="form-control" type="text" name="username" id="username" required>
            </div>
            <div class="mb-3 mx-auto" id="password-input" style="max-width:30%;">
                <label for="password" class="form-label">Password</label>
                {% if errors %}
                    {% for error in errors['password'] %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <input class="form-control" type="password" name="password" id="password" required>
            </div>
            <button class="btn btn-outline-primary" type="submit" id="login-confirm-button">Log in</button>
        </form>
    </div>
{% endblock %}